@import "../../../../../variables.scss";

.inputs-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
}

.inputs-title {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  background-color: $bloodFontColor;
  border-radius: 5px;
  padding: 0 8px;
}

.inputs-block {
  display: flex;
  flex-direction: column;
  margin-top: 0.2em;
}

@media only screen and (min-width: 768px) {
  .inputs-wrap {
    margin-top: 0.5em;
  }
}
