@import "./variables.scss";

body {
  margin: 0;
}

.App {
  font-family: $bannerFont;
}

.section {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-family: $ouijaBoardFont;
}

.section-title {
  z-index: 1;
  font-size: 2.5em;
  color: #8a0303;
}

.section .username-input {
  text-align: center;
  font-size: 1em;
  background: #fff;
  padding: 15px 20px;
  margin: 30px 15px;
  z-index: 1;
  border-radius: 5px;
  opacity: 0.8;
  border: 1px solid black;
  font-family: $ouijaBoardFont;
}

input:focus::placeholder {
  color: transparent;
}

.enter-game-btn {
  background: white;
  z-index: 1;
  opacity: 0.8;
  padding: 0.8em 1.6em;
  font-family: $ouijaBoardFont;
  font-size: 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 185px;
}

.enter-game-btn:hover {
  background-color: #8a0303;
  cursor: pointer;
}

.username-input:focus,
.enter-game-btn:focus {
  outline: 0;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .section-title {
    font-size: 4em;
    margin-bottom: 0.5em;
  }
  .section .username-input {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-bottom: 40px;
    font-size: 1.8em;
  }
  .enter-game-btn {
    padding: 0.8em 2em;
    font-size: 1.8em;
    width: 315px;
  }
}
