@import url("https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope&display=swap");
@import url("https://fonts.googleapis.com/css?family=Griffy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nosifer&display=swap");

$mainBackgroundColor: rgb(233, 120, 120);
$bannerFont: "Annie Use Your Telescope", cursive;

$gameBodyBackgroundColor: rgb(106, 106, 206);
$ouijaBoardFont: "Griffy", cursive;
$ouijaBoardColor: #5a3a3a;

$horrorFont: "Nosifer", cursive;
$bloodFontColor: #8a0303;
