@import "../../variables.scss";

.gameBody-wrap {
  display: flex;
  flex-direction: column;
  padding: 3em 3em;
  background-color: $gameBodyBackgroundColor;
}

@media only screen and (min-width: 768px) {
  .gameBody-wrap {
    flex-direction: row;
    justify-content: space-between;
    padding: 4em 3.5em;
  }
}
