@import "../../../variables.scss";

.banner-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  color: $bloodFontColor;
  font-weight: bolder;
}

.title {
  font-size: 1.3em;
  text-align: center;
  line-height: 1.5em;
  font-family: $horrorFont;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 2.2em;
  }
  .banner-wrap {
    padding-left: 3.5em;
    padding-right: 3.5em;
  }
}
