@import "../../../../../variables.scss";

.current-guesses-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.current-guesses {
  font-size: 1.5em;
  margin-bottom: 0.3em;
  background-color: $bloodFontColor;
  border-radius: 5px;
  padding: 0 8px;
}

.guess-row {
  font-size: 0.8em;
}

.guess-grid-container {
  display: grid;
  width: 100%;
  grid-template-columns: auto auto auto auto auto;
}

@media only screen and (min-width: 768px) {
  .current-guesses {
    margin-bottom: 0.5em;
  }
  .guess-grid-container {
    margin-bottom: 1em;
  }
}
