@import "../../variables.scss";

.board-wrap {
  background-color: $gameBodyBackgroundColor;
  display: flex;
  flex-direction: column;
  font-family: $ouijaBoardFont;
}

.board-head,
.board-bottom {
  background-color: $ouijaBoardColor;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.board-head {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 0.5em 0;
  font-size: 2em;
  text-align: center;
}

.board-bottom {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 2.5em 0;
}

.number-row {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .board-wrap {
    padding: 0;
  }
}
