@import "../../../../variables.scss";

.board-wrap {
  display: flex;
  flex-direction: column;
  font-family: $ouijaBoardFont;
  border-radius: 20px;
  background-color: $ouijaBoardColor;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
}

.board-head,
.board-bottom {
  color: black;
}

.board-head {
  padding: 0.5em 0;
  text-align: center;
  font-size: 2em;
  border-bottom: 2px solid black;
}

.board-bottom {
  border-top: 2px solid black;
  padding: 1.5em 0;
  font-size: 1.5em;
  text-align: center;
  font-weight: bolder;
}

.number-row {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .board-wrap {
    width: 40%;
    height: 330px;
  }
}
