@import "../../../../../variables.scss";

.number-button {
  background-color: transparent;
  width: 25%;
  height: 70px;
  font-size: 2em;
  font-weight: bolder;
  border: none;
  font-family: $ouijaBoardFont;
  color: black;
}

.number-button:hover {
  color: white;
  cursor: pointer;
}

.number-button:focus {
  outline: 0;
}

@media only screen and (min-width: 768px) {
}
