@import "../../../../../variables.scss";

.number-button {
  background-color: rgb(238, 227, 227);
  width: 25%;
  height: 70px;
  font-size: 1em;
  font-weight: bolder;
  border: 1px solid black;
  font-family: $ouijaBoardFont;
}

.number-button:hover {
  background-color: $mainBackgroundColor;
  cursor: pointer;
}

.number-button:focus {
  outline: 0;
}

@media only screen and (min-width: 768px) {
}
